/**
 *  Define scss variables here.
 *
 *  Available options for Bootstrap:
 *  http://getbootstrap.com/customize/
 *
 */

// Custom Colors
$cyan: #33e0ff;
$humility: #777;

// Bootstrap Variables
$brand-primary: darken(#428bca, 6.5%);
$brand-secondary: #e25139;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5bc0de;

$text-color: #333;

$font-size-base: 14px;
$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;
$font-family-serif: "Muli", "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

$thumbnail-border: 0px !default;
$thumbnail-caption-padding: 15px !default;
$thumbnail-padding: 15px !default;
$btn-default-border: #059b89 !default;
$btn-border-radius-base: 16px !default;
$btn-default-color: #fff !default;
$modal-backdrop-bg: hsla(0, 0%, 100%, .8) !default;
$modal-content-border-color: #d4dae4 !default;
$border-radius-large: 0px !default;
$hr-border: #ccc !default;
$navbar-default-link-active-bg: none !default;

